*.gdb
*.a
*.orig
*.rej
.*
!.gitignore
*.o
*.lo
/staging
/romfs


/Kconfig
/auto.conf
/autoconf.h
/bpatch
/config.arch
/config/auto.conf
/config/autoconf.h
/config/kconfig/conf
/config/kconfig/mconf
/images/
/linux-uwic
