Package: busybox
Version: 0.0.1
Section: base
Architecture: all
Description: BusyBox combines tiny versions of many common UNIX utilities into a single small executable.
HomePage: http://http://www.busybox.net/
Maintainer: Max Nekludov
Priority: important
