Package: firmware
Version: 0.1
Depends: kernel (= 0.0.1), opkg (=0.0.1), sys (=0.0.1), watchdog (=0.0.1), init (=0.0.1), clock (=0.0.1), busybox (=0.0.1), syslog (=0.0.1), lua (=0.0.1), mgate (=0.0.1)
Section: base
Architecture: all
Description: Lua.
HomePage: unknown
Maintainer: Max Nekludov
Priority: standard
