config LIB_LUA
  bool "Lua"
  help
     The lua programming language compiler and interpreter.
     See http://www.lua.org/

config LIB_LUA_SHELL
	bool "Lua shell"
	depends on LIB_LUA

config LIB_LUA_LUAFILESYSTEM
  bool "Lua filesystem"
  depends on LIB_LUA
  help
    LuaFileSystem is a Lua library developed to complement the set of
    functions related to file systems offered by the standard Lua distribution.
    LuaFileSystem offers a portable way to access the underlying
    directory structure and file attributes.

config LIB_LUA_LUASOCKET
  bool "Lua socket"
  depends on LIB_LUA
  help
    LuaSocket is a Lua extension library that is composed by two parts:
    a C core that provides support for the TCP and UDP transport layers,
    and a set of Lua modules that add support for functionality commonly
    needed by applications that deal with the Internet.

config LIB_LUA_LUACOXPCALL
  bool "Lua coxpcall"
  depends on LIB_LUA
  help
    Encapsulates the protected calls with a coroutine based loop, so errors
    can be dealed without the usual Lua 5.x pcall/xpcall issues with
    coroutines yielding inside the call to pcall or xpcall.

config LIB_LUA_LUACOPAS
  bool "Lua copas"
  depends on LIB_LUA && LIB_LUA_LUACOXPCALL && LIB_LUA_LUASOCKET
  help
    Copas is a dispatcher based on coroutines that can be used by TCP/IP servers.
    It uses LuaSocket as the interface with the TCP/IP stack. A server registered
    with Copas should provide a handler for requests and use Copas socket functions
    to send the response. Copas loops through requests and invokes the corresponding handlers.
    For a full implementation of a Copas HTTP server you can refer to Xavante as an example.

config LIB_LUA_LUAXAVANTE
  bool "Lua xavante"
  depends on LIB_LUA_LUASOCKET && LIB_LUA_LUACOPAS
  help
    Xavante is a Lua HTTP 1.1 Web server that uses a modular architecture based on URI mapped handlers.

config LIB_LUA_JSON
  bool "Lua JSON"
  depends on LIB_LUA
  help
    JSON4Lua implements JSON (JavaScript Object Notation) encoding and decoding.

config LIB_LUA_SQLITE
	bool "Lua SQLite library"
	depends on LIB_LUA
	help
	  lsqlite3 is a thin wrapper around the public domain SQLite3 database engine.

config LIB_LUA_UCI
	bool "Lua UCI library"
	depends on LIB_UCI && LIB_LUA